.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
target/classes/CodeBusters/Celda.class
target/classes/CodeBusters/ColorFicha.class
target/classes/CodeBusters/ComoJugar.class
target/classes/CodeBusters/Estadisticas.class
target/classes/CodeBusters/Ficha.class
target/classes/CodeBusters/Juego.class
target/classes/CodeBusters/Jugador.class
target/classes/CodeBusters/Main.class
target/classes/CodeBusters/MenuPrincipal.class
target/classes/CodeBusters/Observador.class
target/classes/CodeBusters/PedirNombres.class
target/classes/CodeBusters/SujetoObservable.class
target/classes/CodeBusters/Tablero.class
target/test-classes/CodeBusters/BCTest.class
